@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Condensed', 'Futura', 'Futura Bold Condensed', sans-serif;
  font-weight: 700;
}

#root {
  width: 100%;
  height: 100vh;
}
